body, html {
  background-color: black !important;
	left: 0;
  top: 0;
  margin-left: -20px;
}

.title {
  background: unset;
  z-index: 999999;
  position: sticky;
  left: 2%;
  top: 1%;
  font-size: 20px;
  font-weight: 600;
  text-shadow: 2px 2px black;
  color: yellow;
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: -25px;
}

@media only screen and (max-width: 768px) {
  
  .landing {
    font-size: 60px;
    text-shadow: 5px 5px black;
  }
  
  .title_hek {
    text-shadow: 2px 2px black;
  }
  
}
